.menu_type{
	width: 100%;
	position: absolute;
	top: 40px;
	height: 225px;
	z-index: 5;
	border-bottom: 1px solid #00846c;
	background: white;
}
.menu_type .m_t_1{
	width: 25%;
	height: 220px;
	border-right: 1px solid #00846C;
	text-align: right;
	overflow: scroll;
	padding-bottom: 5px;
}
.menu_type .m_t_1 .m_t_1_i{
	display: inline-block;
	width: 80%;
	text-align: center;
	height: 27px;
	line-height: 27px;
	background: white;
	border:1px solid #F1F1F1;
	color: #00846c;
	font-size: 14px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	margin-top: 5px;
	border-right: none;
	
}
.menu_type .m_t_1 .m_t_1_i.active{
	background: #00846C;
	color: white;
}
.menu_type .m_t_2{
	height: 225px;
	width: 75%;
	overflow: scroll;
}
.menu_type .m_t_2 .m_t_2_title{
	margin-top: 14px;
	color: #00846C;
	margin-left: 10px;
	border-bottom: 1px solid #F1F1F1;
}
.menu_type .m_t_2 .m_t_2_i{
	display: inline-block;
	text-align: center;
	height: 25px;
	line-height: 25px;
	border:1px solid #F1F1F1;
	margin-left: 10px;
	margin-top: 5px;
	border-radius: 4px;
	font-size: 14px;
	color: #00846C;
	padding: 0 15px;
}
.menu_type .m_t_2 .m_t_2_i.active{
	background: #00846C;
	color: white;
}

.play_help{
	width: 100%;
	position: absolute;
	top: 40px;
	z-index: 6;
	height: 130px;
	padding-top: 15px;
	font-size: 14px;
	background: white;
	border-bottom: 1px solid #00846C;
	overflow: scroll;
}
.play_help .play_help_item{
	width: 94%;
	margin: auto;
}
.play_help .play_help_item span:first-child{
	font-weight: 600;
	line-height: 1.2;
}


.lot_bet_info{
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	position: relative;
	border-bottom: 2px solid #f1f1f1;
}
.lot_bet_info .lot_class_issue{
	color: #00846c;
	margin: 0 5px;
}
.lot_bet_info .lot_class_name{
	margin-right: 5px;
}
.lot_bet_info .lot_class_time{
	margin-left: 5px;
	color: #00846c;
}
.lot_bet_info .lot_down{
	position: absolute;
	top: 8px;
	right: 15px;
	width: 15px;
}
.record_more{
	width: 100%;
	position: absolute;
	top: 38px;
	height: 139px;
	background: #a8e8dc;
	z-index: 6;
	border-bottom: 1px solid #00846C;
}
.record_more .r_m_l{
	margin-top: 10px;
}
.record_more .r_m_l .r_m_i{
	height: 24px;
	line-height: 24px;
}
.record_more .r_m_l .r_m_i span{
	display: inline-block;
	width: 50%;
	font-size: 14px;
}
.record_more .look_more{
	color: #00846c;
	margin-top: -10px !important;
	font-size: 16px;
}

.qu_wei{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}
.qu_wei .qu_wei_item{
	display: inline-block;
	width: 35%;
	text-align: center;
	height: 36px;
	border-radius: 5px;
	line-height: 36px;
	border:1px solid #C6C6C6;
	color: #00846C;
	margin-top: 15px;
}
.qu_wei .qu_wei_item:nth-child(2n){
	margin-left: 10%;
}
.qu_wei .qu_wei_item.active{
	color: white;
	background: #00846C;
}




.lot_s_i{
	padding-top: 10px;
	position: relative;
}
.lot_s_i .lot_title{
	display: inline-block;
	width: 90px;
	height: 50px;
	color: white;
	background: url(../../img/bet/lotBet/qiu_title.png) no-repeat;
	font-size: 20px;
	line-height: 50px;
	transform: scale(0.7);
	-webkit-transform: scale(0.7);
	margin-top: -10px;
	text-align: center;
	display: block;
}
.lot_s_i .lot_quick{
	position: absolute;
	right: 20px;
	top: 13px;
}
.lot_s_i .lot_quick .lot_quick_item{
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 2px solid #f2f2f2;
	font-size: 12px;
	text-align: center;
	line-height:22px ;
}
.lot_s_i .lot_quick .lot_quick_item.active{
	border: 2px solid #00846c;
	color: #00846c;
}
.lot_s_i .lot_qiu{
	display: inline-block;
	width: 100%;
	text-align: right;
	padding-right: 18px;
	margin-left: -18px;
}
.lot_s_i .lot_qiu .lot_qiu_item{
	display: inline-block;
	width: 45px;
	line-height: 45px;
	background: url(../../img/bet/lotBet/qiu-.png) no-repeat;
	border-radius: 50%;
	line-height: 45px;
	text-align: center;
	font-size: 18px;
	color: #000;
	margin-top: 10px;
}
.lot_s_i .lot_qiu .lot_qiu_item.active{
	background: url(../../img/bet/lotBet/qiu.png) no-repeat;
	color: white;
}


.bet_info{
	height: 100px;
	background: #a8e8dc;
	position: fixed;
	width: 100%;
	bottom: 48px;
	text-align: center;
	z-index: 2;
}
.bet_info .bet_i{
	height: 26px;
	line-height: 26px;
}
.bet_info .bet_i input{
	width: 38px;
	height: 22px;
	margin-right: 5px;
	text-align: center;
}
.bet_info .bet_i:first-child{
	margin-top: 10px;
}
.bet_info .bet_i .bet_order_number,
.bet_info .bet_i .bet_order_money{
	color: #840000;
	margin: 0 3px;
}
.bet_info .bet_i .acc_money{
	color: #840000;
}
.bet_info .bet_i .repoint_model,
.bet_info .bet_i .money_model{
	display: inline-block;
	width:40px;
	height: 22px;
	line-height: 22px;
	padding-right: 15px;
	border: 1px solid #C6C6C6;
	background: white;
	position: relative;
}
.bet_info .bet_i .repoint_model img,
.bet_info .bet_i .money_model img{
	position: absolute;
	right: 3px;
	top: 8px;
	width:12px;
}


.lot_num_input{
	width: 100%;
	margin-top: 20px;
	height: 200px;
}
.lot_num_input textarea{
	height: 200px;
	display: block;
	width: 90%;
	margin: auto;
	resize: none;
	outline: none;
	padding-left: 10px;
}

.radio_sel{
	width: 100%;
	font-size: 14px;
	margin-top: 14px;
}
.radio_sel input{
	margin-left: 10px;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin-right: 3px;
}




.menu{
	text-align: center;
	border-top: 1px solid #c6c6c6;
	background: white;
	padding-top: 4px;
}
.menu .menu_i{
	height: 44px;
}
.menu .menu_i img{
	display: block;
	margin: auto;
	width: 24px;
}
.menu .menu_i .menu_text{
	font-size: 12px;
	margin-top: 3px;
	color: #000;
}
.menu_show{
	position: fixed;
	bottom: 0;
	width: 100%;
}
.menu .menu_i:nth-child(4){
	position: relative;
	background: url(../../img/bet/lotBet/qrtz.png) no-repeat;
	background-size: cover;
	height: 48px;
	margin-top: -4px;
}
.menu .menu_i:nth-child(4) .menu_text{
	position: absolute;
	color: white;
	font-size: 12px;
	z-index: 2;
	display: inline-block;
	width: 100%;
	left: 0;
	height: 48px;
	line-height: 44px;
	font-size: 14px;
}
.menu .menu_i.active .menu_text{
	color: #00846c;
}


.popus_bg{
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 10;
	background: rgba(0,0,0,0.3);
}
.popus{
	width: 250px;
	position: fixed;
	z-index: 11;
	top: 200px;
	border-radius: 10px;
}
.popus_point_model,
.popus_money_model{
	padding-top: 35px;
	font-size: 0;
}
.popus_point_model .p_m_l,
.popus_money_model .p_m_l{
	border-top: 1px solid #C6C6C6;
	border-bottom: 1px solid #C6C6C6;
	padding: 10px 0;
}
.popus_point_model .p_m_l .p_m_i,
.popus_money_model .p_m_l .p_m_i{
	width: 80%;
	margin: auto;
	position: relative;
	height: 30px;
	line-height: 30px;
	text-align: left;
	font-size: 14px;
}
.popus_point_model .p_m_l .p_m_i img,
.popus_money_model .p_m_l .p_m_i img{
	position: absolute;
	right: 0;
	width: 15px;
	top: 8px;
	display: none;
}
.popus_point_model .p_m_l .p_m_i:first-child img,
.popus_money_model .p_m_l .p_m_i:first-child img{
	display: block;
}
.popus .popus_confirm,
.popus .popus_canel{
	height: 35px;
	display: inline-block;
	width: 50%;
	font-size: 14px;
	line-height: 35px;
}
.popus .popus_confirm{
	border-left: 1px solid #C6C6C6;
	border-bottom-right-radius: 10px;
	margin-left: -1px;
	color: #00846C;
}
.popus .popus_canel{
	border-bottom-left-radius: 10px;
	color: #696969;
}

.popus_remind .popus_1_confirm{
	display: inline-block;
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #000;
	letter-spacing: 1px;
}
.popus_remind .popus_text{
	height: 120px;
	line-height: 120px;
	border-bottom: 1px solid #C6C6C6;
}

.confirm_bet{
	font-size: 0;
}
.confirm_bet .c_b_title{
	display: inline-block;
	height: 69px;
	line-height: 69px;
	width: 100%;
	font-size: 16px;
	color: #00846C;
	border-bottom: 1px solid #C6C6C6;
}
.confirm_bet .c_b_info{
	height: 55px;
	line-height: 55px;
	border-bottom: 1px solid #C6C6C6;
	width: 100%;
	display: inline-block;
	font-size: 16px;
}
.confirm_bet .c_b_num,
.confirm_bet .c_b_money{
	display: inline-block;
	width: 100%;
	height: 24px;
	line-height: 21px;
	font-size: 14px;
}
.confirm_bet .c_b_money{
	border-bottom: 1px solid #C6C6C6;
}
