*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family: "微软雅黑";
}
.footer{
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	border-top: 1px solid #c1c1c1;
}
.footer .footer_i img{
	width: 25%;
	margin: auto;
}
.footer .footer_i .footer_text{
	color: #828282;
	font-size: 3.4vmin;
}
.footer .footer_i.active .footer_text{
	color: #00846c;
}
.footer_show{
	position: fixed;
	width: 100%;
	bottom: 0;
	background: white;
}


.popus_bg{
	position: absolute;
	z-index: 100;
	width: 100%;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);
}
.popus{
	position: fixed;
	z-index: 101;
	background: white;
	top: 220px;
	width: 260px;
	left: 50px;
	text-align: center;
	border-radius: 10px;
}
.popus .popus_text{
	height: 80px;
	line-height: 80px;
	border-bottom: 3px solid #f1f1f1;
}
.popus .popus_btn{
	width: 100%;
	height: 40px;
	line-height: 40px;
	border:none;
	background: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	outline: none;
}
.popus .popus_btn:active{
	background: #F2F2F2;
	color: #00846C;
}
.title{
	color: white;
	width: 100%;
	background: #00846c;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 600;
	position: relative;
}
.title .return_img{
	position: absolute;
	top: 12px;
	left: 15px;
	width: 11px;
}
.title .return_text{
	position: absolute;
	left: 30px;
	font-size: 14px;
	color: white;
}
.title .menu_more{
	width: 16px;
	vertical-align: middle;
	margin-top: -2px;
	margin-left: 2px;
}
.title .menu_help{
	width: 18px;
	position: absolute;
	right: 10px;
	margin-top: 10px;
}
.title .chase{
	position: absolute;
	right: 10px;
	font-weight: 400;
}
.title .chase img{
	width: 17px;
	margin-left: 5px;
	vertical-align: middle;
}
input{
	border: none;
	border: 1px solid #C6C6C6;
}
.more_sel{
	width: 40%;
	height: 26px;
	line-height: 26px;
	padding-left: 5px;
	border: 1px solid #C6C6C6;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	margin-left: 5%;
	position: relative;
}
.more_sel_icon{
	position: absolute;
	right: 8px;
	top: 10px;
	z-index: 100;
	width: 12px;
}
.more_s{
	position: absolute;
	width: 100%;
	top: 24px;
	left: -1px;
	background: white;
	z-index: 99;
	border: 1px solid #C6C6C6;
	background: #F1F1F1;
}
.more_s .more_s_i{
	border-bottom: 1px solid #C6C6C6;
}
.more_s .more_s_i span{
	margin-left: 5px;
}
.more_s .more_s_i:hover{
	background: #C6C6C6;
}
.more_sel_val{
	display: inline-block;
	width: 100%;
	margin-left: -1px;
}
